{% extends "base.html" %}

{% block body %}
<section class="header">
  <div class="about-box">
    <div class="amain-box">
      <iframe width="290" height="515" src="https://www.youtube.com/embed/qmO2A5c1u1E?autoplay=1&loop=1&color=white"></iframe>
    </div>
    <div class="about-text">
      <span class="stepper">Stepper</span>
      <span class="line"></span>
      <br>
      <span class="substepper tit">What is it?</span>
      <span class="usual">This is a program which help you manage and monitor your daily routine. Not only personal but also team tasks.</span>
      <br>
      <span class="substepper tit">How to use it?</span>
      <span class="usual">It’s very simple you just need to start typing your tasks in main menu. If you need to save them and check them on another computer just register and go ahead!</span>
      <br>
      <span class="substepper tit">Do you need it?</span>
      <span class="usual">Absolutely! This help you manage your day from early morning to deep night and not only...</span>
    </div>
    <div class="ps">
      This was our first prototype for our program, but due to lack of time and experience we postponed this version. 😭
    </div>

  </div>
</section>
{% endblock %}
